@page "{colorId?}/{culture?}"
@model IndexModel
@inject IStringLocalizer<SharedResource> localizer
@{
    ViewData["Title"] = "Home page";

    var colorClass = Model.SelectedColor.Id switch
    {
        "red" => "color--red",
        "yellow" => "color--yellow",
        "blue" => "color--blue",
        _ => "color--red"
    };
}

<div class="settings">
    <span class="settings__title">@localizer["Settings.Title"]</span>
    <form method="get">
        <div class="setting">
            <div class="setting__title">@localizer["Culture.Title"]</div>
            <div class="setting__options">
                @foreach (var culture in Model.SupportedCultures)
                {
                    <label style="margin-right: 8px;">
                        <input asp-for="Culture" type="radio" value="@culture.Name" />
                        <span>@culture.NativeName</span>
                    </label>
                }
            </div>
        </div>
        <div class="setting" style="margin-top: 8px;">
            <div class="setting__title">@localizer["Color.Title"]</div>
            <div class="setting__options">
                @foreach (var color in Model.Colors)
                {
                    <label style="margin-right: 8px;">
                        <input asp-for="ColorId" type="radio" value="@color.Id" />
                        <span>@localizer[$"Color.{color.Name}"]</span>
                    </label>
                }
            </div>
        </div>
        <input type="submit" value="Go!" style="margin-top: 4px;" />
    </form>
</div>

<div class="result">
    <div class="result__title">@localizer["Result.Title"]</div>
    <span class="result__text @colorClass">@localizer["Result.StyledText"]</span>
</div>
